<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{url_for('static', filename='js/apiJs.js')}}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div id="confetes"></div>
		<div id="container" class="question-container">
			<h2 id="pergunta" class="perguntas">{{pergunta}}</h2>
			<button id="btn-yes" onclick="proximaPergunta('sim'); salvaAcao('cliquei em sim',[{
				'acao':'itemExiste',
				'id':'btn-yes'
			  }])">Sim</button>
			<button id="btn-no" onclick="proximaPergunta('nao'); salvaAcao('cliquei em nao',[])">Não</button>
			<div id="buttons">    
				
				<label for="professor" id="labelProf">responsavel:</label>
				<select id="professor" name="professor" required>
					<option value="">professor</option>
					{%for i in professores%}
					<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
	
			<button id="btn-finalizar" onclick="salvaResultadoFinal(); salvaAcao('cliquei em finalizar',[])">Finalizar</button>
			</div>
		</div>
		<div class="half-circle-bottom"></div>

		<script>
			var bloquear = document.getElementsByTagName("body")[0]

			bloquear.addEventListener('touchmove',function(event){
				event.preventDefault();
			},{passive:false});
		</script>
		<script src="/static/js/confetes.js"></script>
		<script src="/static/js/controller.js"></script>


	</body>
</html>
