<!DOCTYPE html>
<html>
	<head>
		<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static',filename='loginStyle.css')}}">
	</head>

	<body>
		<div class="half-circle-top"></div>
		<div class="login-container">
			<h2>Seja Bem Vindo!</h2>
			<form action="/" method="GET">
				<div class="form-group">
					<label for="user">Escola:</label>
					<select id="user" name="user" required>
						<option value="">Escolas</option>
						<option value="user1">Umuarama</option>
						<option value="user2">Emilio</option>
						<option value="user3">Cladio Abramo</option>
					</select>
				</div>
				<button type="submit">Iniciar Pesquisa</button>
			</form>
		</div>
		<script>
			function fazerLogin(){
				usuario = document.getElementById("usuario").value
				senha = document.getElementById("senha").value
				
				validaLogin(usuario, senha)
			}
		</script>
	</body>


</html>
